body {
	background: #33D6A6;
	color: #FFF;
	font-family: 'Droid Serif', serif;
}	

.container {
	width: 100%;	
}

/* 

Style the input 

*/

.note-input {
	width: calc(100% - 200px);
	padding: 100px;
	border: 0px none;
	background: #33D6A6;
	color: #FFF;
	font: 20px 'Droid Serif', serif;
	outline: none;
	resize: none;
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
	transition: height 0.2s;
}

.note-input::-webkit-input-placeholder {
	color: #FFF;
}


/*

	Custom scrollbar 

*/
body::-webkit-scrollbar {
    width: 0;
}

.note-input::-webkit-scrollbar {
    width: 1em;
}
 
.note-input::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, 0);
}
 
.note-input::-webkit-scrollbar-thumb {
  background: rgba(33, 163, 125, 1);
  outline: 1px solid rgba(33, 163, 125, 0.5);
}